@media screen and (max-width: 1340px) {
  .Abstract-Shapes {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  #header .second-block {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 32px;
    background-image: url(/images/Menu.svg);
  }

  .menu.show {
    background-image: url(/images/X.svg);
    height: 26px;
    width: 25px;
  }
  .menu-content.show {
    position: absolute;
    top: 87px;
    right: 0px;
    padding: 48px 28px;
    background-color: var(--primary-400);
    height: 491px;
    width: 375px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-content.show > ul {
    list-style: none;
  }

  .menu-content.show > ul > li:nth-child(2n) {
    height: 1px;
    display: flex;
  }

  .menu-content.show > ul > li > a {
    text-decoration: none;
    color: var(--accent-100);
  }

  .menu-content.show > .social-networks {
    padding: 10px 0;
    display: flex;
    gap: 18px;
  }
  
  .menu-content.show > .social-networks > .social-network {
    width: 40px;
    height: 40px;
    border-radius: 58px;
    background-color: var(--secondary-300);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #header {
    padding: 24px 48px;
  }
  #first-section > .text > .form > input {
    max-width: 120px;
  }
  #first-section {
    padding: 96px 48px;
  }
  #first-section > .text {
    width: 100%;
  }
  .form > .header-button {
    display: flex;
    padding: 12px 20px;
  }
  .blocks {
    grid-template-areas:
      "a b"
      "c c"
      "d e"
      "f f";
  }
  #main-information {
    padding: 70px 48px;
  }
  #clip {
    padding: 64px 48px;
  }
  #pricing {
    padding: 96px 48px;
  }
  .proposes {
    flex-direction: column;
  }
  #FAQ {
    padding: 96px 104px;
  }
  #sign-up {
    padding: 80px 48px;
  }
  .sign-up-propose > .image {
    display: none;
  }
  #footer {
    gap: 64px;
  }
  #footer > .first-block {
    padding: 0 48px;
    gap: 64px;
    flex-direction: column;
  }
  #footer .first-block > .info {
    gap: 35px;
  }
  #footer > .second-block {
    padding: 8px 48px;
  }
}

@media screen and (max-width: 450px) {
  #header {
    padding: 24px 20px;
  }
  #first-section {
    padding: 64px 20px;
  }
  #first-section > .text > .form {
    height: 60px;
    width: 100%;
  }
  .form > .header-button {
    padding: 12px 24px;
  }
  #quote {
    padding: 64px 20px;
  }
  .blocks {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
  #main-information {
    padding: 64px 20px;
  }
  #clip {
    padding: 64px 20px;
  }
  #pricing {
    padding: 64px 20px;
  }
  #FAQ {
    padding: 64px 20px;
  }
  #sign-up {
    padding: 64px 20px;
  }
  #footer {
    padding-top: 64px;
    gap: 58px;
  }
  #footer > .first-block {
    padding: 0 20px;
    gap: 32px;
    flex-direction: column;
  }
  #footer .first-block > .info {
    gap: 35px;
  }
  #footer > .second-block {
    padding: 8px 20px;
    flex-direction: column-reverse;
    align-items: start;
    gap: 16px;
  }
  #footer > .first-block > .columns {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
