@media screen and (max-width: 1340px) {
  .Abstract-Shapes {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  #header .second-block {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header {
    padding: 24px 48px;
  }
  #first-section > .text > .form > input {
    max-width: 120px;
  }
  #first-section {
    padding: 96px 48px;
  }
  #first-section > .text {
    width: 100%;
  }
  .form > .header-button {
    display: flex;
    padding: 12px 20px;
  }
  .blocks {
    grid-template-areas:
      "a b"
      "c c"
      "d e"
      "f f";
  }
  #main-information {
    padding: 70px 48px;
  }
  #clip {
    padding: 64px 48px;
  }
  #pricing {
    padding: 96px 48px;
  }
  .proposes {
    flex-direction: column;
  }
  #FAQ {
    padding: 96px 104px;
  }
  #sign-up {
    padding: 80px 48px;
  }
  .sign-up-propose > .image {
    display: none;
  }
  #footer {
    gap: 64px;
  }
  #footer > .first-block {
    padding: 0 48px;
    gap: 64px;
    flex-direction: column;
  }
  #footer .first-block > .info {
    gap: 35px;
  }
  #footer > .second-block {
    padding: 8px 48px;
  }
}

@media screen and (max-width: 450px) {
  #header {
    padding: 24px 20px;
  }
  #first-section {
    padding: 64px 20px;
  }
  #first-section > .text > .form {
    height: 60px;
    width: 100%;
  }
  .form > .header-button {
    padding: 12px 24px;
  }
  #quote {
    padding: 64px 20px;
  }
  .blocks {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
  #main-information {
    padding: 64px 20px;
  }
  #clip {
    padding: 64px 20px;
  }
  #pricing {
    padding: 64px 20px;
  }
  #FAQ {
    padding: 64px 20px;
  }
  #sign-up {
    padding: 64px 20px;
  }
  #footer {
    padding-top: 64px;
    gap: 58px;
  }
  #footer > .first-block {
    padding: 0 20px;
    gap: 32px;
    flex-direction: column;
  }
  #footer .first-block > .info {
    gap: 35px;
  }
  #footer > .second-block {
    padding: 8px 20px;
    flex-direction: column-reverse;
    align-items: start;
    gap: 16px;
  }
  #footer > .first-block > .columns {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
